.custom-swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #d1d5db; /* gray-300 */
  opacity: 1;
  transition: all 0.3s ease;
}

.custom-swiper-pagination .swiper-pagination-bullet-active {
  background: #db2777; /* pink-600 */
  width: 12px;
  height: 12px;
}
